@model WebUI.Models.MyModel

@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
      integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
      crossorigin="" />
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
        integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
        crossorigin=""></script>

<div id="mapid" 
     style="width: 600px; height: 400px; 
     position: relative;" 
     class="leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom" 
     tabindex="0">
</div>

<div id="airportselect">
    @Html.LabelFor(m => m.SelectedAirportId)
    @Html.DropDownListFor(m => m.SelectedAirportId, Model.AirportItems)
    @*<input type="submit" value="Submit" />*@ 
</div>

@section scripts {
    <script>
        var mymap = L.map('mapid').setView([51.505, -0.09], 13);
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', { attribution: '© OpenStreetMap' }).addTo(mymap);

        @*var legend = L.control({ position: 'topright' });
        legend.onAdd = function (mymap) {
            var div = L.DomUtil.create('div', 'info legend');
            //div.innerHTML = '<select><option>1</option><option>2</option><option>3</option></select>';
            //div.innerHTML = $("#airportselect").val();
            div.innerHTML = '@Html.DropDownListFor(m => m.SelectedAirportId, Model.AirportItems)';
            div.firstChild.onmousedown = div.firstChild.ondblclick = L.DomEvent.stopPropagation;
            return div;
        };
        legend.addTo(mymap);*@

        $(document).ready(function () {
            //var mymap = L.map('mapid').setView([51.505, -0.09], 13);
            //L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', { attribution: '© OpenStreetMap' }).addTo(mymap);

            $('#SelectedAirportId').on('change', function () {
                $(ajax).
                var airportId = this.value;
                //alert(this.value);
                if (airportId == 1) { //LHR
                    mymap.panTo(new L.LatLng(51.4700, -0.4543));
                } else if (airportId == 2) { //LGW
                    mymap.panTo(new L.LatLng(51.1537, -0.1821));
                } else { //STN
                    mymap.panTo(new L.LatLng(51.8860, 0.2389));
                }
            });
        });
    </script>
    }
